/*Start slider*/
.slider blockquote {
  font-size: 18px;
  font-family: Tahoma, Arial;
  font-style: italic;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  color: #5e5e5e;
  width: 80%;
  margin: 30px auto;
}

.slider img {
  max-width: 100%;
  width: 1000px;
  height: 400px;
}

.slider .bullets {
  text-align: center;
}

.slider .bullets li {
  /*float: $float-left; or display*/
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #d1d1d1;
}

/*End slider*/
